<div class="container">
    <h2>Summary</h2>
    <p>Correct Rows: {{ correctRows }}</p>
    <p>Incorrect Rows: {{ incorrectRows }}</p>
    <div>
        <h3>Data Analysis:</h3>
        <h4>Correct Rows:</h4>
        <ul>
            <ng-container *ngFor="let row of csvData; let i = index">
                <li *ngIf="rowErrors[i] && objectKeys(rowErrors[i]).length === 0">
                    {{ row.Name }}
                </li>
            </ng-container>
        </ul>
        <h4>Incorrect Rows:</h4>
        <ul>
            <ng-container *ngFor="let errors of rowErrors; let i = index">
                <li *ngIf="errors && objectKeys(errors).length > 0">
                    {{ csvData[i].Name }}:
                    <ul>
                        <li *ngFor="let error of objectKeys(errors)">
                            {{ error }}: {{ errors[error] }}
                        </li>
                    </ul>
                </li>
            </ng-container>
        </ul>
    </div>
</div>