<div class="container">
    <h2>CSV Data Preview</h2>
    <table mat-table [dataSource]="csvData" class="mat-elevation-z8">
        <ng-container *ngFor="let column of metadata" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
            <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="metadata"></tr>
        <tr mat-row *matRowDef="let row; columns: metadata;"></tr>
    </table>

    <div>
        <h3>Errors</h3>
        <div *ngFor="let errors of rowErrors; let i = index">
            <div *ngIf="objectKeys(errors).length > 0">
                <p>Row {{ i + 1 }} ({{ csvData[i].Name }}):</p>
                <ul>
                    <li *ngFor="let error of objectKeys(errors)">
                        {{ error }}: {{ errors[error] }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button mat-raised-button color="accent" (click)="goToSummary()">Go to Summary</button>
</div>